* {
  font-family: 'Abel' , sans-serif;
}

a ,a:hover {
  text-decoration: none !important;
}

#main {
  display: flex;
  align-items: center;
  z-index:-1;
  width: 100%;
  background: #000000;
  min-height: 100% !important;
  position: fixed;
  color: #FFF;
}

#bg {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  background: url('../img/bg.jpg') center;
}

.header {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  transition: 0.2s;
}

.header .col-md-6:nth-child(1) {
  padding: 70px 15px;
}

.header .col-md-6 ul {
  list-style: none;
  padding: 0;
}

.header .col-md-6 li {
  display: inline-block;
}

.header .col-md-6 a {
  color: #FFF;
}

.header .col-md-6:first-child ul li {
  margin-right: 20px;
}

.header .col-md-6:first-child ul li a {
  font-size: 3.5em;
  padding: 10px 15px;
  border-radius: 8px;
}

.header .col-md-6:first-child ul li a:hover {
  background: rgba(20, 20, 20, 0.8);
  transition: 0.2s;
}

.header .col-md-6:nth-child(2) ul li {
  font-size: 1.5em;
  margin: 10px 20px;
  background: rgba(0, 0, 0, 0);
}
.header .col-md-6:nth-child(2) ul li a {
  padding: 10px;
  font-weight: 700;
  border-radius: 8px;
}

.header .col-md-6:nth-child(2) ul li a:hover {
  background: rgba(255, 255, 255, 1);
  transition: 0.2s;
  color: rgba(0, 0, 0, 0.9);
}

.insert-frame {
  padding: 10px;
}

.row.is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.titles-1 {
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  font-size: 4em;
}

.go-full-w {
  width: 100%;
}

.footer {
  background: -webkit-linear-gradient(to top,rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.0));
  background: linear-gradient(to top,rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.0));
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 50px;
}

.footer .col-md-12 p {
  margin: 10px;
  padding: 10px 10px 15px 10px;
}

.footer .col-md-12 a {
  color: #FFF;
  border-radius: 5px;
  background: #3d75b5;
  padding: 0 5px;
}

.footer .col-md-12 a:hover {
  transition: 0.2s;
  color: #3d75b5;
  background: #FFF;
}

/* -- For ipad landscape - */

@media screen and (max-width: 1024px) {
  .header .col-md-6:nth-child(2) ul li {
    margin: 10px;
  }
}

/* -- For window 992 x 580 - */

@media screen and (max-width: 992px) {
  #main {
    text-align: center;
    flex-direction: column;
  }

  .header {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.0));
    transition: 0.5s;
  }

  .header .col-md-6:first-child {
    padding: 20px 5px;
  }

  .header .col-md-6:first-child ul li a {
    font-size: 2.5em;
    padding: 5px 10px;
    border-radius: 8px;
  }

  .header .col-md-6:nth-child(2) ul li a {
    background: rgba(0, 0, 0, 0.7);
  }

  .footer {
    display: block;
    padding: 0;
  }

  .insert-frame {
    height: 200px;
  }

  .row.is-flex{
    display: block;
  }

}

/* -- For - Ipad Portrait- */

@media screen and (max-width: 768px) {
  #main {
    flex-direction: inherit;
  }
  .header {
    background: rgba(0, 0, 0, 0.4);
  }

  .insert-frame {
    height: 100%;
  }

  .header .col-md-6:first-child ul li a {
    font-size: 3em;
    padding: 10px 15px;
    border-radius: 8px;
  }

  .header .col-md-6:nth-child(2) ul {
    margin: 20px 15px;
  }

}

/* -- For - Iphone6 plus landscape- 736px- */

@media screen and (max-width: 736px) ,(-webkit-min-device-pixel-ratio: 3){
  #main {
    display: flex;
    text-align: center;
    position: absolute;
    flex-direction: column;
    overflow: hidden;
  }

  .header {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.0));
    transition: 0.5s;
  }


  .header .col-md-6:first-child ul {
    margin-top: 20px;
  }

  .header .col-md-6:nth-child(2) ul li a{
    display: inline-block;
    margin: 5px 2px 0px 2px;
  }

  .insert-frame {
    position: absolute;
    height: 227px;
    margin: 2px;
    padding: 0;
    left: -46px;
    top: -145px;
    transform: rotate(50deg);
  }

  footer {
    display: block;
    position: static;
  }

}
/* Android devices with 570 on viewport for 1.5DPR */
@media screen and (max-width: 570px) {
  .titles-1 {
    font-size: 3.2em;
  }

  .header .col-md-6:first-child ul li {
    margin-right: 10px;
  }

  .header .col-md-6:first-child ul li a {
    font-size: 2.7em;
    padding: 7px;

  }

  .header .col-md-6:nth-child(2) ul {
    margin: 0 15px 20px 15px;
  }
  .header .col-md-6:nth-child(2) ul li {
    margin: 0 auto;
  }
  .header .col-md-6:nth-child(2) ul li a{
    margin: 2px;
    background: rgba(0, 0, 0, 0.5);
  }

  .insert-frame {
      position: absolute;
      height: 215px;
      margin: 2px;
      padding: 0;
      left: -40px;
      top: -172px;
      transform: rotate(35deg);
      transition: 0.5s;
  }

  .insert-frame:active {
      height: 250px;
  }
}

/* -- For - Iphone6 plus portrait- 414px- */

@media screen and (max-width: 414px) and (-webkit-min-device-pixel-ratio: 3) {
  #main {
    text-align: center;
  }

  .titles-1 {
    font-size: 3.7em;
    display: block;
    margin: 20px;
  }

  .header {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.0));
    transition: 0.5s;
    padding: 20px;
  }

  .header .col-md-6:first-child {
    padding: 0;
  }

  .header .col-md-6:first-child ul {
    margin: 0;
  }

  .insert-frame {
    position: static;
    transform: rotate(0deg);
  }

  .header .col-md-6:nth-child(2) ul {
    padding: 10px 10px;
    margin: 0 auto;
  }

  .header .col-md-6:nth-child(2) ul li {
    display: flex;
    flex-direction: column;
    margin: 5px 2px 0px 2px;
  }

}

/* -- For - Iphone6 plus portrait- 412px- */

@media screen and (max-width: 412px) {
  #main {
    text-align: center;
  }

  .titles-1 {
    font-size: 3.5em;
    display: block;
  }

  .header {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.0));
    transition: 0.5s;
    padding: 20px;
  }

  .header .col-md-6:first-child {
    padding: 0;
  }

  .header .col-md-6:first-child ul {
    margin: 0;
  }

  .insert-frame {
    position: static;
    transform: rotate(0deg);
  }

  .header .col-md-6:nth-child(2) ul {
    padding: 0px 10px;
    margin: 0 auto;
  }

  .header .col-md-6:nth-child(2) ul li {
    display: flex;
    flex-direction: column;
    margin: 5px 2px 0px 2px;
  }

}

/* Iphone 6 With retina DPR 2 */

@media screen and (max-width: 375px) and (-webkit-min-device-pixel-ratio: 2){
  #main {
    text-align: center;
  }

  .titles-1 {
    font-size: 3.7em;
    display: block;
    margin: 20px;
  }

  .header {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.0));
    transition: 0.5s;
    padding: 20px;
  }

  .header .col-md-6:first-child {
    padding: 0;
  }

  .header .col-md-6:first-child ul {
    margin: 0;
  }

  .insert-frame {
      position: absolute;
      height: 227px;
      margin: 2px;
      padding: 0;
      left: -70px;
      top: 271px;
      transform: rotate(35deg);
      transition: 0.5s;
  }

  .header .col-md-6:nth-child(2) ul {
    padding: 60px 10px;
    margin: 0 auto;
  }

  .header .col-md-6:nth-child(2) ul li {
    display: flex;
    flex-direction: column;
    margin: 5px 2px 0px 2px;
  }

}

/* Android devices with 320 on viewport for 1.5DPR */
@media screen and (max-width: 320px) {

  .header {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 1),rgba(0, 0, 0, 0));
    transition: 0.5s;
    position:static;
    top: 0;
  }

  .header .col-md-6:first-child {
    margin: 10px 0;
  }

  .titles-1 {
    font-size: 3.2em;
  }

  .header .col-md-6:first-child ul li {
    margin-right: 10px;
  }

  .header .col-md-6:first-child ul li a {
    font-size: 2.7em;
    padding: 7px;
  }

  .header .col-md-6:nth-child(2) ul li {
    display: block;
    margin: 0 auto;
  }
  .header .col-md-6:nth-child(2) ul li a{
    margin: 2px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .insert-frame {
      position: absolute;
      height: 200px;
      margin: 2px;
      padding: 0;
      left: -40px;
      top: 181px;
      transform: rotate(35deg);
      transition: 0.5s;
  }

  .insert-frame:active {
      height: 120%;
  }
}
